*{
    font-size: 62.5%;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}
body{
    background-color: #faf9f7;
    margin: 0;
    overflow-x: hidden;
    transition: background-color 300ms  cubic-bezier(0.645,0.045,0.355,1),color  cubic-bezier(0.645,0.045,0.355,1);
    -webkit-font-smoothing: antialiased;
}
#mobile-btns,#mobile-btns-duplicate{
    display: none;
}
html{
    padding: 0;
}
#main-body{
    padding: 0;
}
span{
    padding: 0;
}
#grid{
    display: grid;
    padding: 0;
}
#tunnel-video,#viaduct-video,#cut-video{
    position: relative;
    object-fit: cover;
    object-position: center center;
}
#viaduct-video{
    width: 33%;
    height: auto;
    aspect-ratio: 0.8;
}
#cut-video{
    width: 50%;
    height: auto;
    aspect-ratio: 1.66667;
}
#cut-near-text{
    font-size: 3rem;
    max-width: 55rem;
    margin-top: 10rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,'Mongoose',Impact,Helvetica,sans-serif;
}
#tunnel-video{
    width: 18%;
    height: auto;
    aspect-ratio: 0.8;
}
#tunnel,#viaduct,#cut{
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
    object-fit: cover;
    object-position: center center;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,'Mongoose',Impact,Helvetica,sans-serif;
}
#cut{
    justify-content: space-between;
    line-height: 1.4;
    color: #131313;
    margin-bottom: 20rem;
}
#cut-rhs{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
    align-items: end;
    margin-top: -50rem;

}
#span-via{
    padding: 0;
    display: flex;
    flex-direction: column;
}
#span-tunnel{
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
}
#visit,#logo,#vision,#donate{
    display: inline-block;
}
#drop{
    background-color: transparent;
    border: 0;
}
#navbar{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,'Mongoose',Impact,Helvetica,sans-serif;
    padding: 2.8rem 3rem 4rem 3rem;
    margin-bottom: 5rem;
}
a{
    text-decoration: none;
    color: #131313;
}
#donate{
    padding: 0.6rem 2.4rem 0.6rem 2.4rem;
    border:  0.1rem solid black;
    border-radius: 4.8rem;
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);
}
#donate:hover{
    background-color: #04c75c;
    border: 0.1rem solid #04c75c;
}
.nav-donate{
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);
}
.nav-donate:hover{
    color: white;
}
#vision,#visit,#logo,#drop{
    padding: 0;
}
.nav-vision,.nav-visit{
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);
    padding: 0;
}
.nav-vision:hover,.nav-visit:hover{
    color: #04c75c;
}
#txt1{
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    font-weight:550;
    line-height: 0.88;
    letter-spacing: -0.5rem;
    margin-left: 0rem;
    position: relative;
}
#x,#x_duplicate{
    display: flex;
    justify-content:space-between;
    margin-bottom: 5rem;
    align-items: center;
    padding: 0;
    animation: ease-in 1s 1 reverse x-anim;
}
@keyframes x-anim{
    from{transform: translateX(0);}
    to{transform: translateX(100%);}
}
#arrow-left,#arrow-left-duplicate{
    height:1rem;
    margin-top: -15rem;
    margin-left: -5rem;
    margin-right: 5rem;
}
#arrow-right,#arrow-right-duplicate{
    height:5rem;
    padding: 0;
    margin-top: -15rem;
}
#x1,#x1_duplicate{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    line-height: 1;
    padding-right: 0rem;
}
#img1,#img1-duplicate{
    padding-right: 0;
}
#img1{
    display: flex;
}
#img1_1,#img1_1-duplicate{
    width: 100%;
    height: auto;
    aspect-ratio: 2;
    margin-top: -10rem;
    margin-bottom: 11rem;
    padding: 0;
    object-fit: cover;
}
#txt2,#txt2-duplicate{
    width: 35rem;
    font-size: clamp(3.5rem, 3.1471rem + 1.1029vw, 5rem);
    margin-left: -15rem;
    margin-right: 0rem;
    letter-spacing: -0.15rem;
    padding: 0px 0px 0px 4.8rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#txt3,#txt3-duplicate{
    color: #04c75c;
    font-size: 3rem;
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
    margin-left: -15rem;
    margin-right: 0rem;
    letter-spacing: -0.15rem;
    padding-right: 0;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);
}
#txt3:hover,#txt3-duplicate:hover{
    color: black;
}
#txt4{
    right: 10rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    animation:ease-in 2s 1 reverse visit-animation;
}
@keyframes visit-animation{
    from{transform: translateX(0%);}
    to{transform: translateX(100%);}
}
#x_duplicate{
    display: none;
}
#txt4a{
    padding: 0;
    display:inline;
    text-align: right;
    font-size: clamp(4rem, 3.0303rem + 3.0303vw, 8rem);
    line-height: 1.07;
    letter-spacing: -0.2rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#txt4b{
    padding: 0;
    display:inline;
    text-align: right;
    font-size: clamp(4rem, 3.0303rem + 3.0303vw, 8rem);
    line-height: 1.07;
    letter-spacing: -0.2rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    margin-right: -5rem;
}
#z{
    display: flex;
    margin-bottom: 10rem;
    padding: 0;
    margin-left: 10rem;
}
#txtz{
    display: flex;
    margin: 0px;
    padding: 0px 0px 0px 1rem;
    margin-left: -5rem;
    flex-direction: column;
    justify-content: space-between;
}
#imgz,#imgw{
    width: 500px;
    border-radius:1rem;
    overflow: hidden;
}
#idk{
    display: flex;
    padding: 0px 0px 0px 5rem;
}
#idkw{
    display: flex;
}
#idk2,#idk2w{
    display: flex;
    font-size: 5rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    padding: 0px;
    margin: 0px;
}
.idk2d{
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);
}
.idk2d:hover{
    color:#04c75c;
}
.txtzt,.txtwt{
    font-size: clamp(3.5rem, 3.1471rem + 1.1029vw, 5rem);
    line-height: 1;
    letter-spacing: -0.15rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    padding: 0;
    margin: 0px -1rem 0px 0px;
}
#imgzz{
    display:inline-block;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: auto;
}
#imgww{
    display:inline-block;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: auto;
}
#w{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 18rem;
    padding: 0;
    width: 100%;
}
.nopaddingl{
    padding-left: 0;
}
p{
    padding: 0px;
    margin: 0px;
}
#rp{
    position: relative;
    padding: 0;
    margin: 0px;
    right: -5rem;
}
.txtwt{
    padding: 0px 1.2rem 0px 1.2rem;
}
#txtw{
    display: flex;
    margin: 0px;
    padding: 0rem 3rem 0rem 0rem;
    margin-right: 3rem;
    flex-direction: column;
    justify-content: space-between; 
    position: relative;
    left: 5rem;   
}
#imgw,#imgz{
    padding: 0;
    margin: 0;
}
.para{
    font-size: clamp(4rem, 3.0303rem + 3.0303vw, 8rem);
    line-height: 1.07;
    letter-spacing: -0.4rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    font-weight: 530;
    padding-left: 0;
    margin-left: 0;
}
#para2{
    font-size: 3rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    margin-top: 5rem;
    padding-left: 0;
    margin-left: 0;
}
#para-main{
    padding-top: 4rem;
    padding-bottom: 20rem;
    padding-left: 6rem;
    margin-left: 0;
}
#v1parent,#v2parent{
    border-radius:  1rem;
    overflow: hidden;
}
#v1{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    padding: 0;
    padding-right: 2rem
}
#video1{
    display: inline-flex;
    padding: 0;
    margin: 0;
}
#v1txt{
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    padding: 0;
    padding-left: 2rem;
    padding-top: 5rem;
}
#the{
    margin-top: 5rem;
    font-size: 5rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#lite{
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
    margin-left: 42rem;
    margin-top: 1.6rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    font-weight: 1.3rem;
}
#v2 {
    position: absolute;
    right: 0px;
    object-fit: cover;
    object-position: center center;
    padding: 0;
}
#video2{
    display: inline-flex;
    flex-direction: column;
    padding: 0;
}
#thecut{
    position:absolute;
    font-size: clamp(2rem, 1.0588rem + 2.9412vw, 6rem);
    right: 40rem;
    margin-top: 5rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#cal{
    position:absolute;
    font-size: 1.3rem;
    right: 46rem;
    margin-top: 15rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    font-weight: 530;
}
#text{
    font-size: 3.5rem;
    line-height: 1.4;
    width: 60rem;
    margin-left: 10rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#text2{
    font-size: 2rem;
    margin-top: 4.8rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    margin-left: 10rem;
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);;
}
#text2:hover{
    color: #04c75c;
}
#v3{
    object-fit: cover;
    object-position: center center;
    padding: 0;
}
#tunnel{
    display: flex;
    justify-content: center;
    padding: 0;
}
#tunnel_text{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 3rem;
    line-height: 1;
    letter-spacing: -0.15rem;
    justify-content: center;

}
#tunnel_text_1,#tunnel_text_2{
    font-size: clamp(2rem, 1.0588rem + 2.9412vw, 6rem);
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    padding: 0;
}
#tunnel_text_3{
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    padding: 0;
    font-size: 1.3rem;
    letter-spacing: 0rem;
    margin-top: 1.6rem;
}
#event{
    display: flex;
    margin-top: 25rem;
    justify-content: center;
    height: 50rem;
    width: auto;
    padding: 0;
}
#event_img{
    padding: 0px 0px 0px 1.2rem;
    margin: 0;
}
#eventimg{
    width: 100%;
    height: 70%;
    padding: 0;
    margin: 0;
}
#event_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 1.2rem;
    background-color: white;
    margin: 0;
    width: 61.5rem;
    height: 35rem;
}
#event_text_inner{
    display: flex;
    flex-direction: column;
    padding: 3.2rem 2.4rem 3.2rem 2.4rem;
    margin-top: 2rem;
}
#date{
    padding: 0;
    font-size: 2rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#fundraiser{
    font-size: clamp(3.5rem, 3.1471rem + 1.1029vw, 5rem);
    line-height: 1;
    letter-spacing: -0.15rem;
    padding: 0;
    margin: 2.4rem 0px 2.4rem 0px;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#details{
    margin: 4rem 0px 0px 0px;
    padding: 0;
    font-size: 2rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);;
}
#details:hover{
    color: #04c75c;
}
#svg{
    position: absolute;
    padding: 0;
    right: 15rem;
    margin-top: 5rem;
}
#svg_img{
    padding: 0;
    animation: 30s 0s infinite normal forwards running rotateEventText;
    margin-top: -12rem;
}
@keyframes rotateEventText{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
#calender_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    border: 0.1rem solid black;
    border-radius: 4rem;
    height: 4rem;
    width: 25rem;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
#line{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 2.4rem 0px 2.4rem 0px;
}
#arr_btn{
    padding: 0;
    margin: 0;
}
#line{
    display: none;
}
#upcoming_events{
    display: none;
    padding: 0;
    margin: 0px 0px 10rem 0px;
}
#uevt{
    display: inline-block;
    padding: 0;
    margin: 0;
    transform: rotate(270deg);
    font-size: clamp(3.5rem, 3.1471rem + 1.1029vw, 5rem);
    line-height: 1;
    letter-spacing: -0.15rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#verti_txt{
    display: flex;
    width: auto;
    height: 35rem;
    justify-content: left;
    margin-right: auto;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
#ueimg{
    padding: 0;
    margin: 0;
}
#img_txt{
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    padding: 0;
    margin-left: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 41.6667%;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
#uedate{
    margin: 2.4rem 0px 0.4rem 1.2rem;
    padding: 0px 10rem 0px 0px;
    font-size: 1.3rem;
    line-height: 1.3;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#uename{
    margin: 2.4rem 0px 0.4rem 1.2rem;
    padding: 0px 2.8rem 0px 0px;
    font-size: clamp(2rem, 1.6471rem + 1.1029vw, 3.5rem);
    line-height: 1.2;
    letter-spacing: -0.05rem;
    max-width: 41.6667%;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#uedetails{
    padding: 0px 23rem 0px 0px;
    margin: 0.8rem 0px 0px 0rem;
    font-size: 1.5rem;
}
#newsletter{
    left: -4.8rem;
    display: flex;
    justify-content: center;
    padding: 9.6rem 0px 11.2rem;
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: #0CEE72;
    font-size: 3rem;
    letter-spacing: 0.08rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    overflow-x: hidden;
}
#add,#lang,#contact,#office_add{
    transition: color 200ms cubic-bezier(0.77,0,0.18,1);
}
#add:hover,#lang:hover,#contact:hover,#office_add:hover{
    color: #04c75c;
}
#footer{
    left: -4.8rem;
    display: flex;
    justify-content: space-around;
    background-color: #131313;
    padding: 7.2rem 0px 4rem 0px;
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}
#foot1,#foot2,#foot3{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: white;
}
#anim_circle{
    height: 25rem;
    padding: 0;
    margin: 0;
    animation: 30s 0s infinite normal forwards running rotateEventText;
}
#v4{
   /* position: relative;
    top: -3rem;*/
    height: 18rem;
    padding: 0;
}
#V4{
    padding: 0;
    padding-left: 4rem;
    margin-top: -22rem;
}
#insta,#twitter,#fb{
    padding: 0;
    margin: 0px 1rem 0px 0px;
    height: 2.5rem;
}
#copyright1,#copyright2,#copyright3{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    margin-left: 5rem;
}
#copyright2{
    margin-top: 1.2rem;
}
#copyright1{
    margin-top: 12rem;
}
#hrs,#hello{
    font-size: 1.2rem;
    padding: 0;
    margin: 0px 0px 2.4rem 0px;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#timings,#contact{
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#entrance,#translation,#office,#socials{
    margin: 4rem 0px 2.4rem 0px;
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#add,#office_add{
    font-size: 2.4rem;
    padding: 0;
    margin: 0px 0px 7.2rem 0px;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;    
}
#lang{
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
}
#hamburger{
    display: none;
    background-color: #131313;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    left: -4.8rem;
    transition: background-color 300ms cubic-bezier(0.645,0.045,0.355,1),color 300ms cubic-bezier(0.645,0.045,0.355,1);
}
button{
    background-color: transparent;
    border: 0;
    padding: 0;
}
#ham-nav-ext{
    padding: 2.8rem 0px 0rem
}
.ham-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 4.8rem 0px;
    padding-top: 0;
    padding-right: 0;
}
.ham-nav-search{
    display: inline-block;
    background-color:#131313;
    border: 0px;
    padding: 0rem 0rem 0rem .5rem;
    margin: 0;
    font-size: 1.7rem;
    color: white;
}
.ham-donate{
    padding:0.6rem 1.8rem 0.6rem 1.8rem;
    color: white;
    font-size: 1.7rem;
    display: inline-block;
    border: 1px solid #04C75C;
    border-radius: 3rem;
    background-color: #04C75C;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    margin-right: 5rem;
    transition: all 200ms cubic-bezier(0.645,0.045,0.355,1);
}
.ham-body{
    display: flex;
    padding: 5% 4.8rem 0px;
    max-width: 100vw;
    justify-content: space-evenly;
}
.ham-body-2,.ham-body-4{
    padding: 0rem 1.2rem 0rem 1.2rem;
}
.ham-body-1,.ham-body-3{
    padding: 0;
}
.ham-x{
    color: white;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.2rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    transition: all 200ms cubic-bezier(0.645,0.045,0.355,1);
    padding: 0;
    margin-top: 3rem;
}
.ham-y{
    color: white;
    margin-top: 6rem;
    font-size: 7rem;
    line-height: 0.76;
    letter-spacing: -0.1rem;
    font-family:'Mongoose',Impact,Helvetica,sans-serif;
    transition: all 200ms cubic-bezier(0.645,0.045,0.355,1);
    padding: 0;
}
#ham-hrs{
    color: white;
    font-size: 1.5rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    margin: 3.3rem 0px 0rem 0px;
    padding: 0;
}
#ham-entrance,#ham-follow{
    color: white;
    font-size: 1.5rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    margin: 4rem 0px 2.4rem 0px;
    padding: 0;
}
#ham-timings,#ham-add{
    color: white;
    font-size: 3.2rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    padding: 0;
    margin-top: 6rem;
}
#ham-add{
    transition: all 200ms cubic-bezier(0.645,0.045,0.355,1);
    margin-top: 0;
}
#ham-insta,#ham-twitter,#ham-fb{
    margin: 0px 1rem 0px 0px;
    height: 2.5rem;
    padding: 0;
}
#ham-socials_svg{
    display: flex;
    padding: 0;
}
.ham-footer{
    display: flex;
    justify-content: space-evenly;
    margin: 9.6rem -1.2rem 7.2rem -1.2rem;
    font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    padding: 0;
}
.ham-footer-1{
    padding: 0;
    padding-left: 10rem;
}
.ham-footer-2,.ham-footer-3,.ham-footer-4{
    color: white;
}
#ham-footer-2b:hover,#ham-footer-3b:hover{
    color: #04C75C;
}
#ham-footer-4b,#ham-footer-3b,#ham-footer-2b{
    font-size: 1.8rem;
    margin-top: 1.2rem;
    padding: 0;
    transition: all 200ms cubic-bezier(0.645,0.045,0.355,1);
}
#ham-footer-2a,#ham-footer-3a,#ham-footer-4a{
    padding: 0;
    font-size: 1.8rem;
}
.ham-x:hover,#ham-add:hover{
    color: #04C75C;
}
.ham-y:hover{
    color: #04C75C;
    margin-left: 1.2rem;
}
.ham-donate:hover{
    background-color: #131313;
}
.m950{
    display: none;
    color: #fff;
}
@media(max-width:970px){
    *{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
    #newsletter,#footer{
        left: -2.4rem;
    }
    .ham-body-4{
        display: none;
    }
    .ham-footer{
        display: none;
    }
    .ham-body{
        display: flex;
        justify-content: space-between;
    }
    .ham-body-1{
        margin: 0;
    }
    .ham-body{
        padding:5% 2.4rem
    }
    .ham-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 2.4rem;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    #z{
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    #w{
        display: flex;
        flex-direction: column-reverse;
    }
    #imgz,#imgw{
        height: 100%;
        width: 100%;
    }
    #txtw {
        display: flex;
        margin: 0px;
        padding: 0rem 0rem 0rem 0rem;
        margin-right: 3rem;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        left: 0;
    }
    .txtwt{
        padding: 0;
    }
    #idk,#idk2,#idk2w,#idkw{
        display: flex;
        justify-content: space-between;
    }
    #txt4{
        justify-content: center;
        align-items: center;
        right: 0;
    }
    #txt4b{
        margin-right: 0;
    }
}
@media(min-width:80em){
    .ham-body-1,.ham-nav{
        margin-left: 8.33333%;
    }
    .ham-nav-mobile-int,#mobile-search,.ham-mobile-search,.ham-mobile-body,.ham-mobile-bold,#mobile-shop,.ham-mobile-content1,.ham-mobile-content2,.ham-mobile-content3,.ham-mobile-content4,.ham-mobile-content5,.ham-mobile-content6,.ham-mobile-content7,#ham-a{
        display: none;
    }
}
@media(max-width:750px){
    #mobile-btns,#mobile-btns-duplicate{
        display: flex;
    }
    #ham-nav-ext,.ham-body,.ham-footer,.ham-nav{
        display: none;
    }
    .ham-nav-mobile-int{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem 2.4rem;
    }
    #mobile-search{
        background-color: #131313;
        border: 0px;
        font-size: 1.8rem;
        color: white;
    }
    .ham-mobile-search{
        margin: 0.8rem 2.4rem 0rem;
        display: flex;
        align-items: center;
        padding-bottom: 1.2rem;
    }
    .ham-mobile-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ham-mobile-bold{
        color: white;
        font-family:'Mongoose',Impact,Helvetica,sans-serif;
        font-size: 5rem;
        letter-spacing: -0.1rem;
        line-height: 0.76;
        margin-top: 2.4rem;
    }
    #mobile-shop{
        margin-bottom: 2.4rem;
    }
    .ham-mobile-content1{
        display: flex;
        justify-content: space-evenly;
    }
    .ham-mobile-content1a,.ham-mobile-content1b{
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
    }
    .hmc1{
        margin-top: 1.2rem;
        font-size: 1.2rem;
        font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    }
    #ham-mobile-content1-membership{
        margin-bottom: 2.4rem;
    }
    .ham-mobile-content2,.ham-mobile-content3,.ham-mobile-content4,.ham-mobile-content5{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    }
    #ham-mobile-content2a,#ham-mobile-content3a,#ham-mobile-content4a,#ham-mobile-content5a{
        font-size: 1rem;
        margin-bottom: 1.6rem;
        margin-top: 3.2rem;
    }
    #ham-mobile-content2b,#ham-mobile-content3b,#ham-mobile-content4b,#ham-mobile-content5b{
        font-size: 1.5rem;
    }
    #ham-mobile-content2c,#ham-mobile-content3c,#ham-mobile-content4c,#ham-mobile-content5c{
        font-size: 1.5rem;
        margin-bottom: 1.8rem;
    }
    .ham-mobile-content6{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    }
    #ham-mobile-content6a{
        font-size: 1rem;
        margin-bottom: 1.6rem;
        margin-top: 3.2rem;
    }
    #ham-mobile-content6b{
        font-size: 1.5rem;
        margin-bottom: 1.8rem;
    }
    .ham-mobile-content7{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Armin Grotesk','Helvetica Neue',Helvetica,sans-serif;
    }
    #ham-mobile-content7a{
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
    }
    #ham-mobile-content7b{
        font-size: 0.5rem;
    }
    #ham-mobile-content7c{
        font-size: .5rem;
    }
    #ham-mobile-content7d{
        font-size: .5rem;
        margin-bottom: 1.8rem;
    }
    #event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #event_img{
        height: 100%;
        width: 100%;
        padding: 0;
    }
    #event_text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 1.2rem;
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    top: -11rem;
    }
    #svg{
        display: none;
    }
    #visit,#vision,#donate{
        display: none;
    }
    #navbar{
        padding-left: 0;
        padding-right: 0;
    }
    body{
        padding: 0 24px 0 24px;
    }
    #newsletter,#footer{
        left: -2.4rem;
    }
    #the-rail,#park,#txt1{
        padding: 0;
    }
    #x,#x_duplicate{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 5rem;
        align-items: start;
        margin-bottom: 15rem;
    }
    #x1,#x1-duplicate{
        padding-left: 0;
    }
    #img1,#img1-duplicate{
        padding: 0;
    }
    #img1_1,#img1_1-duplicate {
        width: 100%;
        height: auto;
        aspect-ratio: 1.5;
        margin-top: 12rem;
        margin-bottom: 0rem;
        padding: 0;
        object-fit: cover;
    }
    #txt2,#txt2-duplicate {
        width: auto;
        margin-left: 0;
        margin-right: 0rem;
        padding: 0px 0px 0px 0rem;
    }
    #txt3,#txt3-duplicate {
        margin-left: 0;
        margin-right: 0rem;
        padding-right: 0;
        padding-left: 0;
    }
    #para2{
        letter-spacing: 0.02rem;
        font-size: 2rem;
        color: #131313;
    }
    #hamburger{
        left: -2.4rem;
    }
    #arrow-left,#arrow-left-duplicate,#arrow-right-duplicate,#arrow-right{
        display: none;
    }
    #cut-near-text{
        font-size: 2rem;
        max-width: 35rem;
    }
    #cut-rhs{
        margin-top: -30rem;
    }
}
@media(max-width:970px){
#foot2,#foot3{
    display: none;
}
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#copyright1,#copyright2,#copyright3{
    display: none;
}
.m950{
    display: block;
    padding: 0;
}
#para-main{
    padding: 24px 0px 48px 0px;
}
#w{
    margin-bottom: 72px;
}
}
@media(min-width:750px){
.ham-nav-mobile-int,#mobile-search,.ham-mobile-search,.ham-mobile-body,.ham-mobile-bold,#mobile-shop,.ham-mobile-content1,.ham-mobile-content2,.ham-mobile-content3,.ham-mobile-content4,.ham-mobile-content5,.ham-mobile-content6,.ham-mobile-content7,#ham-a{
    display: none;
    padding: 0;
}
}
